<form (submit)="search(searchInput.value)" class="flex items-center w-full">

  <input #searchInput type="text" id="simple-search" autocomplete="off"
    class="w-full bg-[#EEEEEE] border-2 border-[#2a2f37] border-r-0 text-gray-900 h-full p-2.5 text-sm rounded-lg rounded-r-none focus:outline-none dark:bg-[#2a2f37] dark:placeholder-[#EEEEEE] dark:text-[#EEEEEE] dark:border-[#EEEEEE] dark:focus:border-[#00adb5] focus:border-[#00adb5]"
    placeholder="Search video name..." required />

  <button type="submit"
    class="h-full px-3 text-sm font-medium text-black bg-[#EEEEEE] border-2 border-x-0 border-[#2a2f37] hover:border-[#00adb5]
    hover:text-[#00adb5] focus:outline-none dark:bg-[#2a2f37] dark:border-gray-300 dark:text-[#EEEEEE] dark:hover:border-[#00adb5] dark:hover:text-[#00adb5]">

    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
    </svg>

  </button>

  <button type="reset" (click)="resetSearch()"
    class="h-full px-3 text-sm font-medium text-black bg-[#EEEEEE] rounded-lg rounded-l-none border-2 border-l-0 border-[#2a2f37] hover:border-[#00adb5]
    hover:text-[#00adb5] focus:outline-none dark:bg-[#2a2f37] dark:border-gray-300 dark:text-[#EEEEEE] dark:hover:border-[#00adb5] dark:hover:text-[#00adb5]">

    <svg width="16" height="16" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)rotate(90)">
      <g id="SVGRepo_bgCarrier" stroke-width="0" />
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
      <g id="SVGRepo_iconCarrier">
        <path
          d="M960 0v213.333c411.627 0 746.667 334.934 746.667 746.667S1371.627 1706.667 960 1706.667 213.333 1371.733 213.333 960c0-197.013 78.4-382.507 213.334-520.747v254.08H640V106.667H53.333V320h191.04C88.64 494.08 0 720.96 0 960c0 529.28 430.613 960 960 960s960-430.72 960-960S1489.387 0 960 0"
          fill="currentColor"
          fill-rule="evenodd" />
      </g>
    </svg>

  </button>

</form>