<div class="w-[100vw] h-[100vh]">
  <nav class="gradient h-[12%]">
    <div
      class="container mx-auto px-4 flex justify-between items-center h-full"
    >
      <div class="flex w-1/5 justify-between items-center">
        <div class="flex flex-col gap-0.5">
          <a routerLink="/" class="text-white text-lg sm:text-2xl font-bold">DanKlips</a>
          <div class="flex">
            <p class="text-white text-xs p-0.5 pr-2">by</p>
            <div class="flex hover:bg-[#00adb5] p-0.5 rounded-md">
              <img
                src="../../assets/images/github.svg"
                alt="GitHub"
                class="w-4 h-4 mr-1"
              />
              <a
                href="https://github.com/Daniel22Pereira"
                class="text-white text-xs font-bold whitespace-nowrap"
                >Daniel Pereira</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center">
        <button (click)="showModal = true" class=" font-semibold relative flex px-2 sm:px-6 py-1 sm:py-2 rounded-lg items-center justify-center overflow-hidden border-2 border-transparent hover:border-[#EEEEEE] bg-[#1c1c1c] text-white shadow-2xl transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-[#00adb5] before:duration-500 before:ease-out hover:before:h-56 hover:before:w-56">
          <span class="relative z-10">Share a video !</span>
        </button>
      </div>
    </div>
  </nav>
  <div class="h-[88%] w-[100%] bg-[#EEEEEE] overflow-scroll no-scrollbar">
    <router-outlet></router-outlet>
  </div>
  <app-modal-share [hidden]="!showModal" (showModal)="showModal = false" (addVideo)="onAddVideo($event)" ></app-modal-share>
</div>
