@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .gradient {
    background: #1c1c1c;
    background: linear-gradient(
      90deg,
      #1c1c1c 20%,
      #2a2f37 55%,
      #00adb5 100%
    );
  }
}
